.white-content-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;

    transition: opacity 200ms ease;
}

.white-content-overlay .settings-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 90%;
    max-width: 30rem;
    height: 90%;
    border-radius: 1rem;

    background: white;
}

.blur-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);

    z-index: -1;
}