@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.settings-menu .settings-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 90%;
    max-width: 30rem;
    height: 90%;
    border-radius: 1rem;

    background: white;
}

.settings-menu .settings-hidden {
    overflow: auto;
}

.settings-container > * {
    margin: 1em;
}

.password-input {
    display: flex;
    align-items: center;
    margin-top: auto;

    border: #7D7D7D solid 1px;
    border-radius: 0.25rem;
    min-width: 3rem;
}

.password-input input {
    border: none;
    outline: none;
}

.password-input button {
    border: none;
    background: none;

    padding: 0.25em;
    color: #4e4e4e;
    background-color: #7d7d7d3f;

    border-left: #7d7d7d3f solid 1px;
    cursor: pointer;
}

.invalid {
    animation: shake 0.5s;
    border-color: red;
}

.settings-container .close-button {
    margin-top: auto;
    padding: 0;

    cursor: pointer;
    border: none;

    border-radius: 5rem;

    background: rgba(221, 31, 31, 0.733);
    width: 3rem;
    height: 3rem;
}

.pump-settings {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pump-settings .pumps {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    flex-wrap: wrap;
}

.ingredient.delete {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.debug-values {
    overflow: auto;
    height: 30rem;
    border: 1px solid black;
}

.debug-value {
    overflow: scroll;
    border: 1px solid black;
}