/*HEADER DIV*/
.top-header {
    display: flex;
    justify-content: space-around;
    align-items: center;

    border: black solid 1px;
    border-radius: 0.5rem;
    margin: 1rem;
    
    padding: 0.5rem;
    box-shadow: 0 0 1rem #888888;
}

/*SETTINGS ICON DIV*/
.settings {
    cursor: pointer;
    padding: 1rem;
    margin: -1rem;
}

/*STATUS DIV*/
.status {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5em;
}

.circle {
    border-radius: 50%;
    width: 0.5em;
    height: 0.5em;
}

.circle.green {
    background: #378805
}

.circle.red {
    background: #E3242B
}