/*HEADER DIV*/
.top-header {
    display: flex;
    justify-content: space-around;
    align-items: center;

    border: black solid 1px;
    border-radius: 0.5rem;
    margin: 1rem;
    
    padding: 0.5rem;
    box-shadow: 0 0 1rem #888888;
}

/*SETTINGS ICON DIV*/
.settings {
    cursor: pointer;
    padding: 1rem;
    margin: -1rem;
}

/*STATUS DIV*/
.status {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5em;
}

@keyframes greenPulsate {
    0%  {     box-shadow:
                0 0 0px 0px #37880570,  /* inner white */
                0 0 0px 0px #37880570, /* middle magenta */
                0 0 0px 0px #37880550; /* outer cyan */ }
    50%  {     box-shadow:
                0 0 0.5px 0.2px #37880570,  /* inner white */
                0 0 2.5px 1px #37880570, /* middle magenta */
                0 0 3px 2px #37880550; /* outer cyan */ }
    100% {     box-shadow:
                0 0 0px 0px #37880570,  /* inner white */
                0 0 0px 0px #37880570, /* middle magenta */
                0 0 0px 0px #37880550; /* outer cyan */ }
}

@keyframes redPulsate {
    0%  {     box-shadow:
                0 0 0px 0px #E3242B,  /* inner white */
                0 0 0px 0px #E3242B, /* middle magenta */
                0 0 0px 0px #E3242B; /* outer cyan */ }
    50%  {     box-shadow:
                0 0 0.5px 0.2px #E3242B70,  /* inner white */
                0 0 2.5px 1px #E3242B70, /* middle magenta */
                0 0 3px 2px #E3242B50; /* outer cyan */ }
    100% {     box-shadow:
                0 0 0px 0px #E3242B,  /* inner white */
                0 0 0px 0px #E3242B, /* middle magenta */
                0 0 0px 0px #E3242B; /* outer cyan */ }
}

.circle {
    border-radius: 50%;
    width: 0.5em;
    height: 0.5em;
}

.circle.green {
    background: #378805;
    animation: greenPulsate 1s linear infinite;
}

.circle.red {
    background: #E3242B;
    animation: redPulsate 1s linear infinite;
}